@import "tailwindcss";
/* body {
  min-height: 100vh;
  background: linear-gradient(to bottom right , #15001b 35%, #ad48b2);
  margin: 0;
  font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
} */
/* {//background: linear-gradient(to bottom right , #15001b 35%, #ad48b2);}
        {/* <div className="w-full h-full bg-gradient-to-br from-[#15001b] via-[#15001b] to-[#ad48b2] py-5"> */ 

/* Hide scrollbar */

.scroll-hide {
  scrollbar-width: none;
}

.scroll-hide::-webkit-scrollbar {
  display: none; 
}

.hr-with-dot {
  position: relative;
  height: 2px;
  background: linear-gradient(to right, transparent, rgb(255, 0, 234), transparent);
  border: none;
  margin: 40px auto;
  width: 90%;
}

